{% extends 'base.html' %}

{% block title%} Home {% endblock %}

{% block content %}

<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div class="slider_bg_box">
            <img src="/static/images/slider-bg.jpg" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Stylish Banners
                                    </h1>
                                    <p>
                                        We have wide range of stylish banners
                                    </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="/about" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Stylish Banners
                                    </h1>
                                    <p>
                                        We have wide range of stylish banners
                                    </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="/about" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Stylish Banners
                                    </h1>
                                    <p>
                                        We have wide range of stylish banners
                                    </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="/about" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Stylish Banners
                                    </h1>
                                    <p>
                                        We have wide range of stylish banners
                                    </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="/about" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Stylish Banners
                                    </h1>
                                    <p>
                                        We have wide range of stylish banners
                                    </p>
                                    <div class="btn-box">
                                        <a href="/contact" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="/about" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class=""></li>
                <li data-target="#customCarousel1" data-slide-to="1" class=""></li>
                <li data-target="#customCarousel1" data-slide-to="2" class=""></li>
                <li data-target="#customCarousel1" data-slide-to="3" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="4" class=""></li>
            </ol>
        </div>

    </section>
    <!-- end slider section -->
</div>



<!-- service section -->

<section class="service_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="/static/images/feature-1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Fast Delivery
                        </h5>
                        <p>
                            We Provides you Fastest Delivery with our best Delivery Partner
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="/static/images/feature-2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Free Shiping
                        </h5>
                        <p>
                            With us you don't have to worry about shipping charges
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="/static/images/feature-3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Best Quality
                        </h5>
                        <p>
                            We also known for our best Quality
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box ">
                    <div class="img-box">
                        <img src="/static/images/feature-4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            24x7 Customer support
                        </h5>
                        <p>
                            you can reach us anytime you want
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="img_container">
                    <div class="img-box b1">
                        <img src="/static/images/a-1.jpg" alt="">
                    </div>
                    <div class="img-box b2">
                        <img src="/static/images/a-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        About Our Shop
                    </h2>
                    <p>
                        We Provides Best Banners Online
                    </p>
                    <a href="/about">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->


<!-- product section -->

<section class="product_section ">
    <div class="container">
        <div class="product_heading">
            <h2>
                All Banners
            </h2>
        </div>
        
        {% for items in item %}
        <div class="product_container">
            <div class="box">
                <div class="box-content">
                    <div class="img-box">
                        <img src="{{ items.banner.url }}" width="350" height="411" alt="">
                    </div>
                    <div class="detail-box">
                        <div class="text">
                            <h4>
                                {{ items.banner_name}}
                            </h4>
                            <h6>
                                PUBLISHED BY - {{ items.pub_name }}
                            </h6>
                        </div>
                        <div class="like">
                            <h6>
                                Location - {{ items.location }}
                            </h6>
                            <div class="text">
                                <h6> {{ items.price }} Rs. </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        Add To Cart
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


<!-- end product section -->

<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div>
                            <input type="text" placeholder="Phone Number">
                        </div>
                        <div>
                            <input type="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message">
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="map_container">
                    <div class="map">
                        <!-- <div id="googleMap"></div> -->
                        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=869%20High%20Rd,%20London%20N12%208QA,%20United%20Kingdom+(Online%20Banner)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                                    href="https://www.maps.ie/population/">Calculate population in area</a></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->


<!-- client section -->
<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Testimonial
            </h2>
        </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item carousel-item-next carousel-item-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="/static/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Morojink
                                            </h5>
                                            <h6>
                                                Customer
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut
                                        labore
                                        et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse
                                        cillum
                                        dolore eu fugia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="/static/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Morojink
                                            </h5>
                                            <h6>
                                                Customer
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut
                                        labore
                                        et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse
                                        cillum
                                        dolore eu fugia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item active carousel-item-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="/static/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Morojink
                                            </h5>
                                            <h6>
                                                Customer
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut
                                        labore
                                        et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse
                                        cillum
                                        dolore eu fugia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel2" data-slide-to="1" class=""></li>
            <li data-target="#customCarousel2" data-slide-to="2" class=""></li>
        </ol>
    </div>
</section>
<!-- end client section -->

{% endblock %}