<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Publisher SignUp Form | OnlineBanner </title>
    <link rel="stylesheet" href="/static/css/c_signup_style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

    <!-- alert bootstrap -->
    {% if messages %}

    {% for msg in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error !</strong> {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% endif %}
    <!-- alert ended -->

  <div class="container">
    <div class="title">Publisher Registration Form</div>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="firstname" placeholder="Enter your First Name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="lastname" placeholder="Enter your Last Name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name="mobile" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" name="city" placeholder="Enter your City" required>
          </div>
        </div>
       
        <div class="button">
          <input type="submit" name="SignUp" value="SignUp">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
