{% extends 'base.html' %}

{% block title %} Upload {% endblock %}

{% block content %}

    <!-- upload_banner form start  -->
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="container-fluid my-5">
            <div class="form-floating mb-3">
                <input type="text" name="pub_name" value="{{puser.firstname}}" class="form-control" id="floatingInput" readonly>
                <label for="floatingInput">Publisher's Name</label>
              </div>    
              
              <div>
                <label for="formFileLg" class="form-label">Upload your banner</label>
                <input class="form-control form-control-lg" name="banner" id="formFileLg" type="file">
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="banner_name"  class="form-control" id="floatingInput" >
                <label for="floatingInput">Banner Name</label>
            </div>    
            <div class="form-floating mb-3">
                <input type="text" name="location"  class="form-control" id="floatingInput" >
                <label for="floatingInput">location</label>
            </div>    
            <div class="form-floating mb-3">
                <input type="number" name="price"  class="form-control" id="floatingInput" >
                <label for="floatingInput">price</label>
            </div>    
            <button type="submit" class="btn btn-primary btn-lg">Submit Post</button>
        </div>
    </form>
    <!-- upload_banner form end -->

{% endblock %}